@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Barlow');


body{

  height: 100%;
  width : 100%;
  font-family: 'Special Elite' , 'sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;

}

header{
  background-color: white;
  width: 100%;
  text-align: center;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
 
}

#titleproject{
  color:black;
  text-align: left;
  font-size: 2em;
  width: 80%;
}

#section0{
  height :80vh;
  background-image: url("./images/fond.jpg");
  background-position: bottom ;

  width: 100%;
  color: white;
  font-size: 1.6em;
  text-decoration: none;
}



#hello{
  padding:5%;
  font-size: 3em;

}
.menu{
  font-size: 0.5em;
  text-decoration: none;
  color: white;
  text-decoration: none;



}

#section1{
  margin-top: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height :100vh;
  

}
a{
  text-decoration: none;
  color:  rgba(0, 128, 0, 0)

}

a:hover{
  color:white
}



#wrapper_projets{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: gainsboro;
  height: 80%;
  width: 90%;
  overflow-y: scroll;
  border-radius: 5px;
}



.slideInRight {
  animation-name: slideInRight;
}

.projet{
  height: 40%;
  width : 28%;
  margin: 20px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: transparent;
  text-align: center;
  
}

.projet:hover{
  background-color: black;
  background-image: none;
  color: white;
  
}


#tetris{
  background-image: url("./images/tetris.png");
  background-size: cover;
  
}

#tetris:hover{
  background-color: black;
  background-image: none;
  color: red
}






#client{
  background-image: url("./images/client.png");
  background-size: cover;
}

#client:hover{
  background-color: black;
  background-image: none;
  color: white;
}

#pendu{
  background-image: url("./images/pendu.png");
  background-size: cover;
}

#pendu:hover{
  background-color: black;
  background-image: none;
  color: white;
}

#vintage{
  background-image: url("./images/vintage.png");
  background-size: cover;
}

#vintage:hover{
  background-color: black;
  background-image: none;
  color: white;
}

#ollie{
  background-image: url("./images/ollie.png");
  background-size: cover;
}

#ollie:hover{
  background-color: black;
  background-image: none;
  color: white;
}

#cliché{
  background-image: url("./images/cliche.png");
  background-size: cover;
}

#cliché:hover{
  background-color: black;
  background-image: none;
  color: white;
}

#mordor{
  background-image: url("./images/mordor.png");
  background-size: cover;

}

#mordor:hover{
  background-color: black;
  background-image: none;
  color: white;
}

#section2{
  background-color: #411086;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height :100vh;
  width: 100%;
  height: 25%;

}

#aboutTitle{
  font-family: 'Special Elite' , 'sans-serif';
  text-align: left;
  margin-left: 30px;
}

#wrapper_about{
  background-color: white;
  text-align: center;
  color: black;
  height: 50%;
  width: 50%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Barlow;

}

#photo{
  height :200px;
  border-radius: 50%;
}

#text{
  background-color: gainsboro;
  color: black;
  padding: 3%;
}
span{
  font-weight: bold;
}

#contact{
  border: solid white 2px;
  background-color: gainsboro;

}

#wrapper_techno{
  border-radius: 5px;
  height: 45vh;

  width: 35%;
  padding:2%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.techno{
  margin: 5%;
  width: 20%
}

.logoContact{
  margin: 5%;
  width: 10%
}

  
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}


.techno:hover{
  transform-origin: top center;

  animation-name : swing
}

#node{
  background-image: url("./images/node.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

}

#react{
  background-image: url("./images/react.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

}

#javascript{
  background-image: url("./images/js.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

}

#html{
  background-image: url("./images/html.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

}
#css{
  background-image: url("./images/css.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

}

#mongo{
  background-image: url("./images/mongo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

}

#express{
  background-image: url("./images/express.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;

}


#section3{
  color:white

}
footer{
  background-color: white;
  color:black;
  width: 100%;
  text-align: center;
}






.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
  color: #feda4a;

}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
  color: #feda4a;

}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}


@media screen and (max-width: 425px) {

  #section0{
    background-size: 80vh;
    height:10vh;
    background-color: #411086;
    background-image: none;
  }

  #hello{
    padding : 0%;
    font-size: 1em;
    text-align: center;

  }

  .menu{
    visibility: hidden;
  }

  #wrapper_projets{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    overflow-y: scroll;

  }

  #section1{
    height:200vh;
    margin:10px
  }

  .projet{
    width: 80%;
    height: 150px;
  }

  #section2{
    display: flex;
    flex-direction: column;
  }

  #wrapper_techno{
    width: 80%;
    height : 300px
  }

  #wrapper_about{
    width: 80%;
  }
}

@media screen and (max-width: 720px) {

#hello{
  visibility: hidden;
}

.projet{
  width: 30%;
  height: 150px;
  margin: 1%;
}

.projet h2{
  font-size: large;
}
}