.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height:100%

}

h1{
  color: white;
}

#wrapper_techno{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.techno{
  height: 8vh;
  width : 8vh;
  margin: 1vh;
  padding: 10px;
  background-color: red;
  font-size: 75%;
}

#wrapper_projets{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


.projet{
background-color: chartreuse;
height: 30vh;
width : 40vh;
margin: 2vh;


}

#wrapper_about{
  width: 20vh;
  background-color: coral;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
  color: #feda4a;

}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
  color: #feda4a;

}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}



